/* Variables */
@font-face {
    font-family: Anarchy;
    src: url(fonts/AgainstMyself.ttf);
}


/* roboto is used*/
* {
  font-family: 'roboto';
}


/* this is the maximum screen size that i want the page to stretch to*/
.custom-max-width {
  max-width: 1535px; 
  
}

/*---------------------*/

/* Nav */
nav{
    
    font-weight: 400;
    height: 60px;
    font-size: x-small;
   


    background: #bba8a8;
    box-shadow:  25px 25px 50px #bebebe,
                -25px -25px 50px #ffffff;
    
}





nav ul{
    align-items:baseline;
    list-style: none;
    flex-grow: 1;
    height: 100%;
}

nav ul li{
    
    width: 100%;
}

nav ul li a{
    
    
    

    text-align: center;
    
}


/* SNARE logo image in nav */
.snare-image-nav{
    width: 185px;
    
    
}



/* the li of the SNARE logo image in nav */
.snare-nav{
  display: none;
}

.hover-underline-animation {
  
  position: relative;
  color:#393838;
}

.hover-underline-animation:after {
  margin-left: 46%;
  content: '';
  position: absolute;
  width: 7%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #393838;
  transform-origin: bottom right;
  transition: transform 0.30s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.snare-below-nav{
  width: 250px;
  
}

.directory{
  
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.directory-slash{
  display: none;
}

.directory-top-text{
  display: none;
  text-decoration: none;
  color: #393838;
  
  font-weight: 700;
  letter-spacing: 9px;
  margin-left: 6px;
}


.directory-bot-text{
  display: none;
  text-decoration: none;
  color: #393838;
  
  font-weight: 300;
}





.flex-container {
    display: flex;
    
    align-items: center; 
    
  }
  

/* Card Product Pages*/

.card-container {
  position: relative;
  width: 190px;
  height: 254px;
  transition: 200ms;
  margin: auto;
}

.card-container:active {
  width: 180px;
  height: 245px;
  padding-top: 60px;
}

.item-card{
  margin-bottom: 4.5rem;
}

#card {
  
  
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  background-color: #D1D1D1;
  background-image: linear-gradient(rgba(184, 183, 183, 0.5), rgba(197, 193, 193, 0.5)), url('https://assets-v2.lottiefiles.com/a/490bc92a-1170-11ee-9e35-0f6eacef4099/DBwCBrM6eQ.gif');

  background-repeat: repeat;
  width: 100%;
}

.subtitle {
  font-size: small;
  
  text-align: center;
  width: 100%;
}

.addToCart {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: large;
  width: 90%;
 
  font-weight: 700;
  color: #393838;
  border: transparent solid;
  border-radius: 1px;
}

.tracker:hover ~ #card .addToCart {
  opacity: 1;
}

#prompt {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 110px;
  color: #D1D1D1;
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.card-container:hover #card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  width: 100%;
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: '';
  background: #D1D1D1;
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  width: 80%;
  padding-top: 100%;

  -webkit-touch-callout: none;
   
  -webkit-user-select: none;
 
  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;
 
}



.item-title{

  font-weight: 300;
  transform: translateY(170px);
}

.item-price{

  font-weight: 400;
  transform: translateY(153px);
}


@media (min-width: 424px) {
  nav{
    height: 75px;
    font-size: small;
    
  }
}

@media (min-width: 768px) {
  nav{
    height: 100px;
    font-size: small;
    
  }



  .snare-below-nav{
    display: none;
    
  }
  
  .snare-nav{
    display: block;
    
  }
  

  .noselect {
    max-width: 100%;
    padding-top: 100%;
  }

  .directory-slash{
    display: inline;
  }
  
  .directory-top-text{
    display: block;
    
  }
  
  
  .directory-bot-text{
    display: inline;
    text-decoration: none;
    color: #393838;
    
    font-weight: 300;
  }
  
}



/* Support Page */

.contactForm{
  max-width: 600px;
  margin: auto;
  
}

.contactForm fieldset{
  background: #bba8a8;
  box-shadow:  25px 25px 50px #bebebe,
              -25px -25px 50px #ffffff;
  

  padding: 4rem 3.5rem;
  margin: 5rem 2rem 0rem;
  border: 1px solid #e6e6e6;
  

  background-color: #ffffff;
  border-radius: 5px;


}

.contactForm fieldset legend{
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #ffffff;
  margin-bottom: 2.5rem;
  


}


.contactForm input[type=text],
.contactForm input[type=tel],
.contactForm input[type=email],
.contactForm select,
.contactForm textarea{
  width: 100%;
  height: 45px;
  padding-left: 20px;
  border-radius: 3px;
  border: solid 0.1px #c7c7c7;
  
  
  margin: 1rem 0.1rem 2.5rem;

}

.contactForm input[type=text]:focus,
.contactForm input[type=email]:focus,
.contactForm select:focus,
.contactForm textarea:focus{
  background-color: #eef5f5;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder{
  opacity: 100;
}

.contactForm textarea{
  height: 120px;
  padding-top: 1em;
}



.buttonsDiv{
  width: 100%;
  display: flex;
  padding: 0 1rem 1rem;
}

.buttonDiv{
  display: block;
  width: 80%;
  margin: auto;
}

.buttonDiv button{
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  height: 3rem;
  border: none;
  border-radius: 4px;
  

}

label{
  font-weight: 400;
}



.buttonDiv button[type=submit]{
  margin: 2rem 0rem 10rem 0rem;
  color: #e6e6e6;
  transition: 1s;
  background: #393838;
  box-shadow:  25px 25px 50px #bebebe,
              -25px -25px 50px #ffffff;
  
}



.buttonDiv button[type=submit]:hover{
  background-color: #676767;
  
}